@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color-scheme: light dark;
}

body {
  @apply bg-white dark:bg-zinc-950 text-zinc-900 dark:text-zinc-100;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}